@use '../../partials/variables';
@use '../../partials/mixins' as *;

.about{
  background-color: #282c34;
  display: flex;

  &__leftContainer{
    width: 50vw;
  }

  &__rightContainer{
    width: 50vw;
    padding: 0.5rem;

    @include tablet{
      padding: 1rem;
    }

    @include desktop{
      padding: 2rem;
    }
  }

  &__hero{
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__title1{
    display: flex;
    color: $white;
    font-size: $font-mobile-subheader;
    padding-bottom: 0.5rem;

    @include tablet{
      font-size: $font-subheader;
    }
  }

  &__title2{
    display: flex;
    color: $white;
    font-size: $font-mobile-subheader;
    padding-bottom: 0.5rem;

    @include tablet{
      font-size: $font-subheader;
    }
  }

  &__info1{
    display: flex;
    color: $white;
    font-size: $font-mobile-paragraph;
    padding-bottom: 0.5rem;

    @include tablet{
      font-size: $font-paragraph;
      padding-bottom: 1.5rem;
    }

    @include desktop{
      font-size: $font-desktop-paragraph;
      padding-bottom: 3rem;
    }
  }

  &__info2{
    display: flex;
    color: $white;
    font-size: $font-mobile-paragraph;
    padding-bottom: 0.5rem;

    @include tablet{
      font-size: $font-paragraph;
      padding-bottom: 1.5rem;
    }

    @include desktop{
      font-size: $font-desktop-paragraph;
    }
  }

}

.partners{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  @include tablet{
    padding: 1rem;
  }


  &__title{
    color: $black;
    font-size: $font-mobile-subheader;
  }

  &__containerTop{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }

  &__logo{
    height: 20px;

    @include tablet{
      height: 30px;
    }

    @include desktop{
      height: 40px;
    }
  }

  &__containerBottom{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }

}