@use '../../partials/variables';
@use '../../partials/mixins' as *;


// TOP RANKED BEERS SECTION

.header__container{
    display: flex;
    background-color: #282c34;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    height: 50px;
}

.header__title{
    display: flex;
    align-items: center;
}

.header__image{
    display: flex;
    height: 20px;
}

.cardContainer{
    display: flex;
    background-color: $tertiary-background;
}

.style__card{
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: 0.5px solid $black;
    align-items: center;
    padding: 0.50rem 0rem;
}

.card__detailTop{
    display: flex;
    text-align: center;
    align-items: center;
    height: 20%;
}

.style__name{
    display: flex;
    color: $black;
    flex-wrap: wrap;
    font-size: 10px;
}

.card__detailBottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 20%; 
}

.style__brewer{
    display: flex;
    color: $black;
    flex-wrap: wrap;
    font-size: 8px;
}

.card__image{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 50%
}

.style__label{
    display: flex;
    height: 50px;
    width: 50px;
    height: 120px;
}

.card__bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 10%;
}

.style__rating{
    display: flex;
    font-size: 10px;
    color: $black;
    margin: 0.25 0rem;
    justify-content: center;
}

