@use '../../partials/variables';
@use '../../partials/mixins' as *;


.find__container{
  position: relative;
}

.find__hero{
  width: 100vw;
  opacity: 30%;   
}

.find__heading{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $secondary-background;
  justify-content: center;
  text-align: center;
  align-items: center;
  

}

.find__title{
  font-size: $font-mobile-header;

  @include tablet{
      font-size: $font-header;
  }

  @include desktop{
      font-size: $font-superheader;
  }
}


