@use '../../partials/variables';
@use '../../partials/mixins' as *;


.find {
  background-color: #282c34;

  &__container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 10%;

    @include tablet{
      top: 60%;
      left: 30%;
    }
  }

  &__title{
    display: flex;
    color: $white;
    justify-content: center;
    font-style: italic;
    font-size: $font-mobile-header;
    
    @include tablet{
      font-size: $font-superheader;
    }
  }

  &__hero{
    display: flex;
    position: relative;
    width: 100%;
    opacity: 30%;
  }
}
