@use '../../partials/variables';
@use '../../partials/mixins' as *;

.footer{
    background-color: $secondary-background;
    height: 50px;
    font-size: $font-mobile-label;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.footer__copyright{
    color: $white;
}

.footer__logoContainer{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__logo{
    height: 10px;
    margin-right: 1rem;
}