@use '../../partials/variables';
@use '../../partials/mixins' as *;


.header{
    background-color: $primary-background;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.header__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
}


.header__siteName{
    font-size: $font-mobile-header;
    color: $white;
    text-align: center;
    
    @include tablet{
        font-size: $font-header;
    }

    @include desktop{
        font-size: $font-superheader;
    }
}


.header__logo{
    height: 20px;
    margin-right: 1rem;
}

.header__nav{
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: right;

    @include tablet{
        flex-direction: row;
        align-items: center;
    }
}

.nav{
    padding: 0.25rem 0rem;
    color: $white;
    font-size: $font-mobile-label;

    @include tablet{
        font-size: $font-label;
        padding: 0.5rem 0.25rem;
    }

    &:hover, &:active{
        background-color: $accent;
        border-radius: 20px;
    }
}