@use '../../partials/variables';
@use '../../partials/mixins' as *;


.stylePage__navbar{
    display: flex;
    flex-direction: column;
    background-color: $tertiary-background;
    height: 50px;
    width: 100%;
    padding: 0.25rem 0.5rem;

    @include tablet{
        height: 75px;
        padding: 0.5rem 1rem;
    }
}

.stylePage__navbarTop{
    display: flex;
    width: 100%;
    
    @include tablet{
        justify-content: space-around;
    }
}

.stylePage__navbarMiddle{
    display: flex;
    width: 100%;

    @include tablet{
        justify-content: space-around;
    }
   
}


.stylePage__navbarBottom{
    display: flex;
    width: 100%;

    @include tablet{
        justify-content: space-around;
    }
  
}


.stylePage__title{
    display: flex;
    color: $black;
    font-size: $font-mobile-label;
    width: 52px;
    align-items: center;

    @include tablet{
        font-size: $font-label;
        width: 115px;
    }
}

