@use '../../partials/variables';
@use '../../partials/mixins' as *;


.style__header{
    background-color: $primary-background;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}

.style__title{
    color: $logo-color;
}

.style__feature{
    display: none;
    
    @include tablet{
        display: flex;
        width: 25vw; 
    }
}

.style__container{
    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }
}

.style__info--title{
    display: flex;
    flex-direction: column;
    width: 100vw;
    border: 1px solid blue;
    font-size: 1rem;
    align-items: center;
    
    @include tablet{
        width: 25vw;
    }
}

.style__description{
    display: flex;
    font-size: 0.5rem;
    padding: 1rem;

}

.style__serving{
    display: flex;
    font-size: 0.5rem;
}

.style__food{
    display: flex;
    font-size: 0.5rem;
}

.foodContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
    

    @include tablet{
        flex-direction: column;
    }
}

.style__savoury{
    height: 30px;
    margin-right: 5px;
}

.style__dessert{
    height: 30px;
    margin-right: 5px;
}

.style__cheese{
    height: 30px;
    margin-right: 5px;
}

.style__glass{
    height: 30px;
}

.style__hops{
    height: 30px;
}

.style__alcohol{
    height: 30px;
}

.style__temp{
    height: 30px;
}

.style__drink--type{
    display: flex;
    justify-content: space-around;
    border: 1px solid black
}

.style__drink--details{
    display: flex;
    border: 1px solid black
}

.container__glass{
    display: flex;
    align-items: center;
}

.container__temp{
    display: flex;
    align-items: center;
}

.container__ibu{
    display: flex;
    align-items: center;
}

.container__ibuLevels{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__abv{
    display: flex;
    align-items: center;
}

.container__abvLevels{
    display: flex;
    flex-direction: column;
    align-items: center;
}












