@use '../../partials/variables';
@use '../../partials/mixins' as *;


// PAGE STYLING

.guide{
    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }
}

.guideLeft{
        display: flex;
        flex-direction: column;

        @include tablet{
            width: 55vw;
        }
    }

    .guideRight{
        display: flex;
        flex-direction: column;

        @include tablet{
            width: 45vw;
            justify-content: center;
        }
    }


// TYPE SECTION STYLING

.type{
    display: flex;
    flex-direction: column;
    background-color: $primary-background;
    
    &__name{
        font-size: $font-mobile-header;
        color: $white;
        height: 75px;
        padding: 1rem;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    &__image{
            display: flex;
            width: 100%;    
    }

}


// DESCRIPTION SECTION STYLING

.description{
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__container{
        display: flex;
        flex-direction: column;
        padding: 1rem;

    }

    &__title{
        display: flex;
        font-size: $font-mobile-subheader;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
    }

    &__info{
        display: flex;
        font-size: $font-mobile-paragraph;
        
    }
}



// SPECS GUIDELINES SECTION STYLING

.specs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: salmon;
    padding: 1rem;
    height: 110px;

    &__title{
        display: flex;
        font-size: $font-mobile-subheader;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
    }

    &__container{
        display: flex;
        justify-content: space-around;
    }
}

.ibu__container{
    display: flex;
    align-items: center;
}

.ibu__logo{
    height: 40px;
    margin-right: 5px; 
}

.hops__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hops__range{
    display: flex;
    font-size: $font-mobile-paragraph;
}
    
.abv__container{
    display: flex;
    align-items: center;
}

.abv__logo{
    height: 40px;
    margin-right: 5px;
}


.alcohol__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alcohol__range{
    display: flex;
    font-size: $font-mobile-paragraph;
}




// SERVING GUIDELINES SECTION STYLING


.serving{
    background-color: lightskyblue;
    padding: 1rem;
    height: 110px;

    &__title{
        display: flex;
        font-size: $font-mobile-subheader;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
    }
}


.serving__container{
    display: flex;
    justify-content: space-around;
}

.glass__container{
    display: flex;
    align-items: center;
}

.glass__logo{
    height: 40px;
    margin-right: 5px;
}

.glass__type{
    display: flex;
    font-size: $font-mobile-paragraph;
}

.temp__container{
    display: flex;
    align-items: center;
}

.temp__logo{
    height: 40px;
    margin-right: 5px;
}

.temp__temp{
    display: flex;
    font-size: $font-mobile-paragraph;
}



// FOOD PAIRING SECTION STYLING

.food{
    background-color: limegreen;
    padding: 1rem;
    height: 110px;

    &__title{
        display: flex;
        font-size: $font-mobile-subheader;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
    }

    &__container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    &__item{
        display: flex;
        font-size: 0.5rem;
        width: 50px;
        }
}


.food__savoury{
    height: 30px;
    margin-right: 5px;
}

.food__dessert{
    height: 30px;
    margin-right: 5px;
}

.food__cheese{
    height: 30px;
    margin-right: 5px;
}



