//BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//COLOURS
$white: white;
$wheat: wheat;
$black: black;
$accent: #A4A9BE;
$primary-background: #282c34;
$secondary-background: #343028;
$tertiary-background: #7C735F;
$logo-color: #c8842c;

//FONT SIZE

$font-mobile-header: 1.5rem;
$font-mobile-subheader: 1rem;
$font-mobile-paragraph: 0.5rem;
$font-mobile-label: 0.25rem;


$font-header: 2.25rem;
$font-subheader: 1rem;
$font-paragraph: 0.875rem;
$font-label: 0.75rem;
