//BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//COLOURS
$white: white;
$black: black;
$primary-background: #282c34;
$secondary-background: #343028;
$tertiary-background: #7C735F;
$logo-color: #c8842c;

//FONT SIZE

$font-mobile-header: 1.5rem;
$font-mobile-subheader: 0.875rem;
$font-mobile-paragraph: 0.5rem;

$font-hero-header: 3.75rem;
$font-h1-header: 2.25rem;
$font-h2-header: 1.5rem;
$font-subheader: 1rem;
$font-para-comment-list-contact: 0.875rem;
$font-label: 0.75rem;
